
section{
    width: 100%;   
  }
  
  .lefttop{
    display: flex;
    flex-direction: column;
  }

  .link{
    margin: 10px 0;
  }

  .link:hover{
    color: red;
  }

  .footer{
    background-color:#03001C ;
    color: white;
  }
  
  
 
  
  .footer_last_hrTag{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    margin-top:20px;
  }
  .footerBoldLink{
    font-weight: 500;
    color: black;
    margin-right: 10px;
    margin-left: 5px;
    text-decoration: none;
  };
  
  .footerLastContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px
  };
  
  .footerWebLinks{
    display: flex;
  }
  
  .webLinks{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    color: white
  };
  
  .footerBoldItems{
    // margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center
  };



  
.footer{
  p{
    color: grey;
  }
}

.footer{
  a{
    color: grey;
  }
}


.rightimg{
  margin-bottom: 10px;
}

.images{
  width: 300px;
  height: 30px;
}



@media (max-width:750px) {
  .footer{
       font-size: 11px;
  }
}


@media (max-width:850px) {
  .footer{
       font-size: 12px;
  }
}


@media (max-width:750px) {
  .footer_last_hrTag{
       margin-top: 0;
       margin-bottom: 0;
  }
}
