
section{
    width: 100%;   
  }
  
  .lefttop{
    display: flex;
    flex-direction: column;
  }

  .link{
    color: gray;
  }
  
  
  .footer_hrTag{
    width: 90%;
    margin: auto;
    margin-top: 120px;
    margin-bottom:40px;
  };
  
  .footer_last_hrTag{
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    margin-top:40px;
  }
  .footerBoldLink{
    font-weight: 500;
    color: black;
    margin-right: 10px;
    margin-left: 5px;
    text-decoration: none;
  };
  
  .footerLastContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px
  };
  
  .footerWebLinks{
    display: flex;
  }
  
  .webLinks{
    margin-right: 10px;
  };
  
  .footerBoldItems{
    margin-bottom: 20px;
  };
  
  p{
    color: grey;
  }
  

  